@font-face {
    font-family: "neon";
    src: url(../fonts/neon_80s/Neon.ttf);
}

#table{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    font-family: 'neon';
    border: 3px solid black;
    border-radius: 5px;
}

#table div{
    padding: 20px 10px;
}

.titulos{
    background-color: #000;
    color: #fff;
}