/* Acá solo van imports, declaraciones de variales o estilos muy generales */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root{
  --indigo:#1b004b;
  --violeta: #4c007d;
  --violeta-medio: #7f00b2;
  --violeta-claro:#bc4ed8;
  --lila: #c9c9df;
  --magenta: #a80083;
  --amarilloanaranjado: #ff9800;
  --footer-shadow: 2px 2px 10px #e100ff;
  --shadow-1: 2px 2px 30px #e100ff;
}

@font-face {
  font-family: "neon";
  src: url(../fonts/neon_80s/Neon.ttf);
}

body{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(171deg, rgba(0,0,0,1) 30%, rgb(58, 1, 85) 100%);
  }

h1 {
    font-family: 'Varela Round', sans-serif;
    font-weight:normal;
    font-style:normal;
}

p, a{
    font-family: 'neon', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.whitefont {
    color: white;
}
  
.centrar {
  justify-content: center;
}
  

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  










/* width */
::-webkit-scrollbar {
    width: 10px;
    transition: 0.3s;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #4c007d;
    border-radius: 5px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bc4ed8;
}