@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
:root{
  --indigo:#1b004b;
  --violeta: #4c007d;
  --violeta-medio: #7f00b2;
  --violeta-claro:#bc4ed8;
  --lila: #c9c9df;
  --magenta: #a80083;
  --amarilloanaranjado: #ff9800; /*Necesitamos contraste*/
  
}


th, td, #titulo{
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Josefin Sans';
}

body{
  margin: 0;
  min-height: 100vh;
  background-color: white; 
}

.header{
	display:flex;
	width: 100%;
	background-color: var(--indigo);
}

.navbar{
  width: 100%;
  display: inline-flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.navbar ul{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
}

.menu {
	margin: 2%;
}

#marca {
	width: 15%;
}

#logo{
	width: 100%;
}
 
#logoa{
	margin: 2%;
}

ul {
  list-style-type: none;
   overflow: hidden;
}

li {
  display: inline-flex;
}

li a {
  display: inline-block;
  color: var(--lila);
  text-decoration: none;
}

li a:hover {
  background-color: var(--violeta-claro);
}

#titulo{
  text-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 200;
  color: var(--amarilloanaranjado);
}