@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root{
  --indigo:#1b004b;
  --violeta: #4c007d;
  --violeta-medio: #7f00b2;
  --violeta-claro:#bc4ed8;
  --lila: #c9c9df;
  --magenta: #a80083;
  --amarilloanaranjado: #ff9800;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  font-weight:normal;
  font-style:normal;
}

th, td, #titulo{
  font-family: 'Varela Round', sans-serif;
}

body{
  margin: 0;
  min-height: 100vh;
  background-color:black;
}

header{
	display: flex;
	width: 80%;
  margin: auto;
  margin-bottom: 30px;
	background-color: black;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

nav{
  margin: 0;
  padding: 0;
}

nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.boton-nav{
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  margin-left: 20px;
}

#botonAleatorio:hover{
  background-color: var(--violeta-medio)!important;
	border-color:var(--violeta-medio) !important;
	color: var(--lila) !important;
}

#botonMenu1:hover{
  background-color:var(--violeta-medio)!important;
	color: var(--lila) !important;
}

#botonMenu2:hover{
  background-color:var(--violeta-claro)!important;
	color: var(--lila) !important;
}

#botonAleatorio {
  color: var(--lila);
}

.contenedor {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

p, a{
  font-family: 'Varela Round', sans-serif;
	font-size: 18px;
	font-weight: bold;
  text-decoration: none;
}

.inSlider {
  width: 100%;
  padding: 220px 0;
  background-image: url(./img/fondoEstrellado.webp);
}

.inSlider:hover {
	/* background-image:none; */
	color: white!important;
	background: var(--violeta-claro)!important;
	border-color: var(--violeta-claro)!important;
	
}

.inSlider p{
  color: white!important;
  background-color: #000!important;
}

.boton {
	text-align: center;
	margin: 20px;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.boton:hover{
  transform: translateY(-20px) scale(1.05);
  box-shadow: 10px 0px 40px rgba(255, 255, 255, 0.5);
}




#marca {
	width: 15%;
}

#logo{
	width: 100%;
}
 
#logoa{
	margin: 2%;
}

li {
  display: inline-flex;
}

li a {
  display: block;
  color: var(--lila);
  text-decoration: none;
}

#titulo{
  text-align: center;
  font-weight: 200;
  color: var(--amarilloanaranjado);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  transition: 0.3s;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4c007d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bc4ed8;

}

