@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root{
  --indigo:#1b004b;
  --violeta: #4c007d;
  --violeta-medio: #7f00b2;
  --violeta-claro:#bc4ed8;
  --lila: #c9c9df;
  --magenta: #a80083;
  --amarilloanaranjado: #ff9800;
  --footer-shadow: 2px 2px 10px #e100ff;
  --shadow-1: 2px 2px 30px #e100ff;
}

@font-face {
  font-family: "neon";
  src: url(./fonts/neon_80s/Neon.ttf);
}

h1 {
  font-family: 'Varela Round', sans-serif;
  font-weight:normal;
  font-style:normal;
}

th, td, #titulo{
  font-family: 'Varela Round', sans-serif;
}

body{
  margin: 0;
  min-height: 100vh;
  /* background-color:black; */
  /* background: rgb(45, 33, 53); */
  /* background: linear-gradient(171deg, rgba(0,0,0,1) 30%, rgba(0,175,189,1) 100%); */
  background: linear-gradient(171deg, rgba(0,0,0,1) 30%, rgb(58, 1, 85) 100%);
}

header{
	display: flex;
	width: 80%;
  margin: auto;
  margin-bottom: 30px;
	/* background-color: black; */
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

nav{
  margin: 0;
  padding: 0;
}

nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.boton-nav{
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  margin-left: 20px;
}

#botonAleatorio:hover{
  background-color: var(--violeta-medio)!important;
	border-color:var(--violeta-medio) !important;
	color: var(--lila) !important;
}

#botonMenu1:hover{
  background-color:var(--violeta-medio)!important;
	color: var(--lila) !important;
}

#botonMenu2:hover{
  background-color:var(--violeta-claro)!important;
	color: var(--lila) !important;
}

#botonAleatorio {
  color: var(--lila);
}

.contenedor {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

p, a{
  font-family: 'Varela Round', sans-serif;
	font-size: 18px;
	font-weight: bold;
  text-decoration: none;
}

.inSlider {
  width: 100%;
  padding: 0;
  background-image: url(./img/fondoEstrellado.webp);
  backdrop-filter: blur(100px);
  backdrop-filter: saturate(180%) blur(2rem);

}

.inSlider:hover {
  /* background-image:none; */
	color: white!important;
	border-color: var(--violeta-claro)!important;
}

.inSlider p{
  color: white;
  padding: 220px 0;
  margin: 0;
}

.boton {
	text-align: center;
	margin: 20px;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.boton:hover{
  transform: translateY(-20px) scale(1.05);
  box-shadow: 10px 0px 40px rgba(255, 255, 255, 0.5);
}

#marca {
	width: 15%;
}

#logo{
	width: 100%;
}
 
#logoa{
	margin: 2%;
}

li {
  display: inline-flex;
}

li a {
  display: block;
  color: var(--lila);
  text-decoration: none;
}

#titulo{
  text-align: center;
  font-weight: 200;
  color: var(--amarilloanaranjado);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  transition: 0.3s;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4c007d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bc4ed8;

}

footer{
  width: 90%;
  margin: auto;
  font-family: "neon";
  font-size: 20px;
  color: white;
  text-shadow: var(--footer-shadow);
}

.top-footer{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.top-footer section{
  padding: 20px;
}

.top-footer section p,
.top-footer section h3{
  font-family: "neon";
}

.top-footer section p{
  font-size: 15px;
}

.top-footer section h3{
  font-size: 25px;
  font-weight: bolder;
}

footer h2{
  font-size: 15px;
  font-family: "neon";
  text-align: center;
}

#img-footer{
  display: flex;
  justify-content: center;
}

#img-footer img{
  padding: 0;
  /* -webkit-filter: drop-shadow(5px 5px 5px rgb(230, 0, 0)); */
  filter: drop-shadow(var(--footer-shadow)); 
  margin-bottom: 10px;
  height: 150px;
}

.social{
  text-align: center;
}

.social i{
  font-size: 25px;
  padding: 25px;
  transform: scale(1);
  transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.social i:hover{
  text-shadow: var(--footer-shadow);
  transform: scale(1.5);
  cursor: pointer;
}

.linea{
  height: 1px;
  background-color: rgba(255, 255, 255, 0.39);
  width: 80%;
  margin: auto;
}

.copy{
  padding-bottom: 15px;
}

@media screen and (max-width: 900px) {
  .top-footer{
    display: flex;
    flex-direction: column;
  }
  #img-footer img{
    height: 150px;
    margin-bottom: 0px;
    /* animation: latido 2s infinite; */
  }
}
/* @keyframes latido{
  25%{
    transform: scale(1.2);
  }
}  */


.modal h2{
  color: #fff;
  text-align: center;
  font-family: 'neon';
  font-size: 50px;
  padding-top: 40px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=button ] {
  width: 100%;
  padding: 20px 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: none;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: var(--footer-shadow);
  outline: 1px solid rgb(58, 1, 85);
  transition: 1s all cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: 'neon';
}

input:focus{
  box-shadow: var(--shadow-1);
}

input[type=button]{
  width: 30%;
  margin: 0;
  margin-top: 50px;
  font-size: 18px;
}

.login-signup{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* Set a style for all buttons */
.login-button {
  background-color: #9704aa!important;
  box-shadow: none!important;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signup-btn{
  background: none!important;
  border: 2px solid #9704aa!important;
}

button:hover {
  opacity: 0.8;
}

label{
  /* text-align: center; */
  font-family: 'neon';
  font-size: 20px;
  margin-bottom: 15px;
}

.bottom-login{
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  margin-top: 30px;
}

.bottom-login span a, .bottom-login span span{
  font-size: 18px;
  text-decoration: none;
  font-weight: 100;
  font-family: 'neon'!important;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


.login-container {
  padding: 16px;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  /* background-color: rgb(0,0,0); Fallback color */
  background-color: rgba(0,0,0,0.4); /*Black w/ opacity*/
  padding-top: 60px;
  padding: 20px 0 40px;
}

/* Modal Content/Box */
.modal-content {
  background: linear-gradient(171deg,rgb(17, 0, 24) 0%, rgb(14, 0, 20));
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  color: #fff;
  width: 50%; /* Could be more or less, depending on screen size */
  box-shadow: 5px 5px 30px rgba(255,255,255,.5);
  border-radius: 15px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(173, 173, 173);
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 1500px){
  .modal-content {
    width:70%; /* Could be more or less, depending on screen size */
  }
}

@media screen and (max-width: 1100px){
  .modal-content {
    width:70%; /* Could be more or less, depending on screen size */
  }
  .login-container {
    width: 80%;
  }
}
@media screen and (max-width: 800px){
  .modal-content {
    width:80%; /* Could be more or less, depending on screen size */
  }
  .login-container {
    width: 90%;
  }

  input[type=button]{
    width: 40%;
    margin-top: 40px;
    font-size: 15px;
  }
  input[type=password]{
    margin-bottom: 0;
  }
  .bottom-login{
    flex-direction: column;
  }

  .bottom-login span a, .bottom-login span span{
    font-size: 15px;
  }
}